body{
    background-image: url(../fondocompleto.webp);
    background-position: center;
    background-size: cover;
    color: aliceblue;
    text-shadow: 1px 1px black;
    
}
.btnCrearEquipos{
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 1px 2px gray;
    font-family: 'Exo', sans-serif;
}
.divJugador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
.divJugador__p{
    margin: 10px;
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
    text-shadow: 1px 1px goldenrod;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo', sans-serif;
}
.equipos{
    margin: 15px;
}
.estrella_logo{
    align-self: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.jugadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.jugadores__div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
}
.jugadores__vs{
    font-size: larger;
    text-shadow: 2px 2px red;
}
.fila{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
}
.fila__nombre{
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.fila__btnSumar{
    background-color: rgb(21, 203, 21);
    color: black;
    font-weight: 900;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.fila__btnRestar{
    background-color: red;
    color: black;
    font-weight: 900;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.resultados{
    display: none;
}
.resultadosSi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    margin-top: 2rem;
}